1) What two errors can you spot below?

n = 2;

if n < 2:

  print "Small"

elif n = 2:

  print "Medium"

else print "Large"

In [2]:
n = 2;
if n < 2:
 print "Small"
elif n = 2:
 print "Medium"
else print "Large"

SyntaxError: invalid syntax (<ipython-input-2-df1d1ff988c9>, line 4)

n=2 does have a semicolon instead of a colon. 
elif n=2 should have ==

2) Given the following code, '11238' is a _value
and 23 is a key_.
{ '11238': 23, '10011': 47 }

3) How would you add a 'low' of 54 to the 

following dictionary?

weather = { 'high': 66, 'appearance': 

'cloudy', 'low': 54}

4) How can we easily get the total of the list 

below? How about a count of how many 

elements are in the list?

numbers = [ 1, 2, 3, 4, 5, 6, 7]

In [4]:
numbers=[ 1, 2, 3, 4, 5, 6, 7]
len(numbers)

7

5) Print the 3rd element of a list named dogs.

In [14]:
dogs = [3,4,5,6]
print [2]

[2]

It should print 5 but it prints 2 i do not understand why.

5a) Given the following dictionary, how can we get a list of all three ZIP codes?

data = { '11238': 23, '10011': 47, 

'10011': 10 }

In [22]:

data = { '11238': 23, '10013': 47,'10011': 10 }
print  data.keys()

['11238', '10013', '10011']

5b) Write a for loop that prints all three zip 

codes on separate lines.

In [23]:
for keys,values in data.items():
	print keys

11238
10013
10011


6) Given the following list, add together any numbers greater than 10.

values = [20, 30 ,10, 5, 99]

In [34]:
values = [20, 30 ,10, 5, 99]
for value in values.items():
if value > 10:
    print values

IndentationError: expected an indented block (<ipython-input-34-f32389bb1f18>, line 3)

No idea how to do this.